# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables file
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Editor-related files
.vscode/
*.code-workspace

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/

# Typescript
*.tsbuildinfo

# Optional: Uncomment the following line if you are using WebStorm
# .idea/

# Optional: Uncomment the following line if you are using Visual Studio Code
# .vscode/
